*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
 width: 100%;
    height: 550px;
  background: red;
  display: flex;
}

.leftpage{
    width: 55%;
    height:550px;
    background-color:white;
   
}
.rightpage{
    width: 45%;
    height : 550px;
   

}
.image{
    width: 100%;
    height : 550px; 
}
.swiggy-head{
    width: 100%;
    height:150px;
    display: flex;
    
}
.icon-image{
    width:30%;
    height:3CM;
    margin-left: 3CM;
    margin-top: 1CM;
}
.loginpage{
    margin-left: 6cm;
    margin-top:2cm ;
    font-weight: bold;
    font-size: 15px;
    width: 12%;
    height: 1cm;
    background-color:white;
    border: none;
    
    
}
.signup{
    margin-top: 2cm;

    font-weight: bold;
    font-size: 15px;
    height: 1cm;
    width: 12%;
    background: black;
    color: white;
    
}
.written{
margin-left: 3.5cm;
font-size: 40px;
margin-top: 1cm;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;

}
.orderfood{
margin-left: 3.5cm;
margin-top: 10px ;
font-size:20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:grey;

}
.box{
    margin-left: 3.5cm;
    margin-top: 30px;
    width:13.5cm;
    height: 1.5cm;
    font-size: 18px;
    border-color: orange;
    float: left;

}
.food{
float: left;
margin-top: 30px;
height: 1.5cm;
font-size: 16px;
width:3.5cm;
background-color: #fc8019;
color: white;
border: none;

}
.popular{
margin-left: 3.5cm;
margin-top:3cm;
color: grey;
font-family: "Helvetica Neue", sans-serif;
font-size: 14px;
}
.cities{
margin-left: 3.5cm;
margin-top:.4cm;
font-size: 15px;
color: grey;
font-family: "Helvetica Neue", sans-serif;
line-height: 26px;
}
.secondpage{
    width: 100%;
    height:11cm;
    background-color:#2b1e16;
    display: flex;
    
}
.thirdpage{
    width: 100%;
    height:16.6cm
    background-color: white;
    display: flex;
}
.fourthpage{
    width:100%;
    height:16cm;
    background-color: #000000;
    
}
.photo{
    width: 33.3%;
    height: 6cm;
    background: #2b1e16;
    display: flex;
    justify-content: center;
}
.img{
    width: 25%;
    height: 6cm;
    border: none;
    

}
.write{
   margin-left:-4cm;
    margin-top: 7cm;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size:20px ;
    font-weight: 650;

}
.orderyourself{
    margin-top: 8cm;
    color: antiquewhite;
    font-family: "Helvetica Neue", sans-serif;
    margin-left:-5.5cm ;
    font-size: 15px;
    
}
.orderyourself1{
    margin-top: 8cm;
    color: antiquewhite;
    font-family: "Helvetica Neue", sans-serif;
    margin-left:-6.5cm ;
    font-size: 15px;
}
.firstphase{
    width: 45%;
    height: 15cm;
    
    
}
    .pocket{
        margin-top:3.5cm;
        margin-left:4cm;
        font-size:40px;
        font-weight: 550;
        font-family: "Helvetica Neue", sans-serif;
    }
    .favourite{
        margin-left: 4cm;
        margin-top:.5cm;
        font-family: "Helvetica Neue", sans-serif;
        color: grey;
        font-size:18px;
        letter-spacing: .5px;
        line-height: 25px;
    }
    .google{
        margin-left: 4cm ;
        margin-top: 1.5cm;
        width: 25%;
        float: left;
    }
    .appstore{
        margin-left: .5cm;
        margin-top:1.5cm ;
        float: left;
        width: 25%;
    }.secondphase{
        width: 55%;
        height: 15cm;
    }
.mobile{
    width: 50%;
}
.mobile2{
    width: 50%;
    margin-left: 10cm;
    margin-top: -14cm;
    height: 14.8cm  ;
    border: none;
    
    
}
.contact{
    color: #808080;
    margin-left: 4cm;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 15.5px;
    line-height: 16px;
    padding-top: 2.3cm;
    float: left;
    
}
.company{
    color: #808080;
    margin-left: 4cm;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 15.5px;
    line-height: 16px;
    padding-top: 2.4cm;
    float: left;
    padding-left: 80px;
    
}
.letters{
    color: white;
    margin-left: -17.5cm;
    padding-top: 3.5cm;
    float: left;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 35px;
}
.letters1{
    color: white;
    margin-left:-9.5cm;
    padding-top: 3.5cm;
    float: left;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 32px;
    
}
.letters2{
    color: white;
    float: left;
    margin-left: 20.3cm;
    padding-top: .5cm;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 42px;
    font-weight: 500;
}
.padam1{
    margin-top: -9.8cm;
    margin-left: 30cm;
    float: left;
    
    
}.padam2{
    margin-top: -7.5cm;
    margin-left: 30cm;
    float: left;
   

}
.line{
    width: 85%;
    height: 0.5px;
    margin-left: 3cm;
    background: white;
}
.lastpge{
    width: 100%;
    height: 14cm;
}
